{% extends "base.html" %}

{% block nav-resume %}<li class="active">{% endblock %}

{% block content %}
    <div class="col-md-4">
    	<h1>Education</h1>
    	<h2>University of Virginia, School of Engineering and Applied Sciences</h2>
    	<h3>Computer Science</h3>
    	<p>Graduated May 2015</p>
    </div>
    <div class="col-md-4">
    	<h1>Work Experience</h1>
    	<ul>
            <li><h2>Vibrant Dynamics</h2> 
            	<p>Contract Web Developer</p>
            	<p>Current Position</p>
            	<p>Tech Used: Django, HTML, CSS, ReactJS, node.js</p>
            </li>
            <li><h2>Loaves and Fishes</h2> 
            	<p>Full Stack Web Developer</p>
            	<p>Current Position</p>
            	<p>Tech Used: Django, HTML, CSS, CircleCi, Bootstrap</p>
            </li>
            <li><h2>MaddenStudents</h2> 
            	<p>owner/Web Admin/Web Designer</p>
            	<p>Current Position</p>
            	<p>Tech Used: HTML, CSS, Wordpress, vBulletin</p>
            </li>            
          </ul>
    </div>
    <div class="col-md-4">
    	<h1>Skills/Technologies</h1>
    	<ul>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>node.js</li>
          </ul>
    </div>
{% endblock %}